body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #6E48AA, #FF6B6B);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: transparent; /* Make the text transparent */
    text-shadow: 0 0 0px #6E48AA, 0 0 0px #FF6B6B; /* Apply text-shadow with gradient effect */
}

.container {
    text-align: center;
    color: #fff;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.textbox {
    margin-bottom: 20px;
    text-align: left;
}

.textbox input {
    width: calc(100% - 3px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.loginButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #6E48AA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #5b3e8c;
}

.registerText {
    font-size: 14px;
    color: #999;
}

.registerText a {
    color: #6E48AA;
    text-decoration: none;
}

.registerText a:hover {
    text-decoration: underline;
}
