body {
    background-color: rgb(58, 59, 59);
}


.loginButton {
    width: 200px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: #87f5ef;
    color: #000000;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.loginButton:hover {
    background-color: rgb(50, 50, 50);
}

.registerButton {
    width: 200px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: #87f5ef;
    color: #000000;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.registerButton:hover {
    background-color: rgb(50, 50, 50);
}

.container {
    justify-content: center;
    text-align: center;

}
